.topnav {
  margin-top: 5px;
  padding-left: 30%;
  position: relative;
}

.topnav h5 {
  float: left;
  text-align: center;
  /* padding-top: 55px; */
  padding-left: 25px;
  text-decoration: none;
  font-size: 17px;
}
