body {
  margin: 0;
}

#customOrder {
  cursor: pointer;
  height: 40px;
  width: 275px;
  margin-right: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(57 60 65);
  border-color: rgb(57 60 65);
  border-style: solid;
  border-radius: 5px;
}

#Inventory {
  cursor: pointer;
  height: 40px;
  width: 275px;
  color: rgb(57 60 65);
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 5px;
}

.Btns {
  padding-top: 20%;
}
#downArrow {
  text-align: center;
  padding-top: 4%;
}
.secondaryHeader {
  padding-top: 7%;
  padding-bottom: 1%;
  text-align: center;
}
#CarTitle {
  padding-top: 10;
}

.bg-image {
  /* Full height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img {
  /* Full height */
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topnav {
  margin-top: -65px;
  padding-left: 30%;
}

.topnav h5 {
  float: left;
  text-align: center;
  padding-top: 5px;
  padding-left: 25px;
  text-decoration: none;

  font-size: 17px;
}

.App-logo {
  width: 8%;
  margin: 1em;
  padding-top: 0.5%;
  padding-left: 2.5%;
}

.App-header {
  position: sticky;
  top: -3px;
}

.section {
  scroll-snap-align: center;
  height: 128vh;
  min-height: 36rem;
}

.navLink {
  color: white;
  text-decoration: none;
}
