/* body{
      margin: 0; 
  } */

/* .bg-img{ */
      /* The image used */
  /* background-image: url("./assets/M3-Homepage-D.jpg");
  min-height: 380px; */

  /* Center and scale the image nicely */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   */
  /* Needed to position the navbar */
  /* position: relative;
}
.topnav{
   margin-top: -65px;
   padding-left: 30%;
} */

/* .topnav h5{
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; */

  /* font-size: 17px; */
 /* } */

/* .App-logo{
      width: 8%;
      margin: 1em;
      padding-top: 0.5%;  
      padding-left: 2.5%;  
  } */

  /* <img src="/assets/M3-Homepage-D.jpg" /> */